* {
    box-sizing: border-box;
}

#title {
    text-align: center;
    font-size: 1.75em;
}

.menu-box, .menu-box-bottom {
    background-color: grey;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    float: left;
    position: relative;
}

.menu-box > .item, .menu-box-bottom > .item {
    float: right;
    width: 33%;
    margin: 0px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 1.25em;
    text-align: center;
}

.menu-box > p, .menu-box-bottom > p {
    clear: both;
    margin: 10px;
}

#beef {
    background-color: red;
}

#chicken {
    background-color: pink;
}

#sushi {
    background-color: yellow;
}

@media (max-width: 767px) {
    .menu-box, .menu-box-bottom {
        width: calc(100% - 20px);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-box {
        width: calc(50% - 20px);
    }

    .menu-box-bottom {
        width: calc(100% - 20px);
    }
}

@media (min-width: 992px) {
    .menu-box, .menu-box-bottom {
        width: calc(33.33% - 20px);
    }
}