* {
    box-sizing: border-box;
}

#title {
    text-align: center;
    font-size: 1.75em;
}

.menu-container, .menu-container-bottom {
    float: left;
    padding: 10px;
}

.menu-box {
    background-color: grey;
    border-style: solid;
    border-width: 1px;
    position: relative;
}

.menu-box > .item {
    float: right;
    width: 33%;
    margin: 0px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 1.25em;
    text-align: center;
}

.menu-box > p {
    clear: both;
    padding: 10px;
}

#beef {
    background-color: red;
}

#chicken {
    background-color: pink;
}

#sushi {
    background-color: yellow;
}

@media (max-width: 767px) {
    .menu-container, .menu-container-bottom {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-container {
        width: 50%;
    }

    .menu-container-bottom {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .menu-container, .menu-container-bottom {
        width: 33.33%;
    }
}